/* importing google font (Open Sans) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
} */

h1{
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background:#09090D;
    margin: 0;
}
.container{
    display: flex;
    gap: 35px;
    padding: 30px;
    background: #181a1b;
}
h3{
    color: #fff;
}
h6{
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
    margin-block-start: 0.5rem;
margin-block-end: 0;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}
.weather-input {
    width: 550px;
}
.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    /* background: #bbb; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.weather-input .separator::before {
    content:"or";
    color: #fff;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    /* background: #E3F2FD; */
}
.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: black;
    font-size: 1.2rem;
    border-radius: 4px;
    background: #CCC4AA;
}
.weather-input .location-btn {
    background: rgba(204, 196, 179, 0.5);
}
.weather-data{
    width: 100%;
}
.current-weather {
    color: #fff;
    display: flex;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    background:rgba(204, 196, 170, 0.6);
    justify-content: space-between;
}
.current-weather h2 {
    font-size: 1.7rem;
}
.weather-data h4 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h4 {
    margin-top: -10px;
    text-transform: capitalize;
}
.day-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 40px;
    color: #fff;
}
.weather-cards {
    display: flex;
    gap:20px;
}
.weather-cards .card {
list-style: none;
margin: 0;


color: #fff;
padding: 18px 16px;
border-radius: 5px;
background: rgba(204, 196, 179, 0.8);

/* background: #6C757D; */
width: calc(100% / 5);
}
.weather-cards .card  img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}/*  دلوقتي هنخليه responsive
طب ازاي هنعمل كده عن طريق ال media queries 
وبعد الخطوه ديه نبدأ نعمل create فايل الجافا سكريبت 
*/
@media (max-width:1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }
    .weather-cards {
        flex-wrap: wrap;
    }
    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}
@media (max-width: 1200px) {
    .weather-cards.card {
        width: calc(100% /3 -15px);
    }
}
@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }
    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 750px) {
    .container{
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input {
        width: 100%;
    }
}
